@import'./base/common';
@import'./base/reset';

@import './layouts/header';
@import './layouts/foundation';
@import './layouts/feature';
@import './layouts/occupation';
@import './layouts/team';
@import './layouts/contacts';
@import './layouts/clients';
@import './layouts/cry';
@import './layouts/portfolio';
@import './layouts/footer';
@import './layouts/cry';

@import'./utils/vars';

@import'./components/container';
@import'./components/title';
@import'./components/button';
@import'./components/logo';
@import'./components/modal';