.contact {
    font-family: 'roboto';
    display: none;
    margin-left: auto;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        color: #2196F3;
        }
        @include mobile {
        display: none;
        }
        @include tablet {
        display:block;
        
        }
        @include desktop {
        display:flex;
        padding-left: 20px;
        }
}
.contact  {
    color: #757575 ;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    @include tablet {
        font-weight: 500;
        font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.02em;
        color: #757575;
        }
        @include desktop {
        color: #757575 ;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        }
}
.contact__icon {
    
    text-align: center;
    
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}
.contact__tel {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__mail{

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover ,
        &:focus  {
        fill: currentColor;
    }

}

.contact__item:not(:last-child){
    @include tablet {
        padding-bottom: 10px;
    }
    @include desktop {
        padding: 0;
        // margin-right: 40px;
        
        }
    
}



