.contact {
    font-family: 'roboto';
    display: none;
    margin-left: auto;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        color: #2196F3;
        }
    // @include mobile {
    //     max-width: 480px;
    // }
    // @include tablet {
    //     max-width: 768px;
    // }
    // @include desktop {
    //     max-width: 1200px;
    // }
}
.contact  {
    color: #757575 ;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contact__icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    
    fill: currentColor;
}
.contact__tel {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__mail{

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover ,
        &:focus  {
        fill: currentColor;
    }

}

.contact__item:not(:last-child){
    margin-right: 50px;
}



