.footer {
    
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;

    
}
.footer-list{
        margin-bottom: 60px;
        @include mobile {
        // margin-left:124px;
        }
        @include tablet {
            // margin-left: 76px;
        }
        @include desktop {
            margin:0px;}
}



.footer-list .item{
        
        
        
        font-family: 'Roboto';
        font-style: normal;
        list-style:none;
        text-align: center;
        margin-bottom: 9px;
        @include mobile {
        // margin-left: 20px;
        font-family: 'Roboto';
        font-style: normal;
        list-style:none;
        text-align: center;
        margin-bottom: 9px;
        }
    @include tablet {
        font-family: 'Roboto';
        font-style: normal;
        list-style:none;
        text-align: center;
        margin-bottom: 9px;
    }
    @include desktop {
        margin-left: 15px;
        font-family: 'Roboto';
        font-style: normal;
        text-align: left;
        list-style:none;
        margin-bottom: 9px;
    }
}
.footer-contact{
    color:rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.footer-adress{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71 ;
    letter-spacing: 0.03em;
    color: #FFFFFF;    
}
.footer-seti{
    justify-content: center;
    margin-bottom: 60px;
    @include mobile {
    
    }
    @include tablet {
        margin-left: 134px;
    }
    @include desktop {
        margin-left: 70px;}
}
.footer-title{
    text-align: center;
    padding-bottom: 20px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;

    @include mobile {
        text-align: center;
    }
    @include tablet {
        text-align: center;
    }
    @include desktop {
        text-align: left;
    }
}
.footer .container{
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include mobile {
    justify-content: center;
    }
    @include tablet {
        align-items: baseline;
        flex-direction:inherit;
        justify-content: center;
    }
    @include desktop{
        flex-direction:inherit;
        align-items: baseline;
    }
}
.footer-options{
    content:"";
    width: 44px;
    height: 44px; 
} 

.footer .icon-list{ 
    margin-top: 10px;
    align-items: center;
    // @include tablet {
    //     margin-top: 10px;
    //     // margin-left: 80px;
    // }
    // @include desktop {
    //     margin-top: 10px;
    //     // margin-left: 0px;
    // }
}

.footer-link{
    
    display: flex;
    align-items: center; 
    justify-content: center; 
    width:100%;
    height: 100%;
    padding: 0;
    border: none;
    color:#FFFFFF;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
    color:#FFFFFF;
    background-color: #188CE8;
    }
}

.footer-icon{
    width: 20px; 
    height: 20px;
    fill: currentColor;
}


.foot-form-field{
    margin: 0;
    padding: 0;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column; 
    @include desktop{
        margin-left: 84px;
    }
}
.form-title{
    
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    @include mobile {
        justify-content: center;;
    }
    @include tablet {
        justify-content: center;
    }
    @include desktop {
        margin: 0;
        text-align: left;
        
    }
}

.foot-form-input{
    
    // justify-content: center;
    padding-left: 16px;
    
    width: 100%;
    height: 50px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    @include mobile {
        margin-top: 20px;
        
        width: 450px;
        height: 50px;
    }
    @include tablet {
        // margin-left: 154px; 
        width: 450px;
        height: 50px;
    }
    @include desktop {
        margin-left: 0px;
        width: 358px;
        height: 50px;}
}
.foot-btn{ 
    display: block;
    margin:0 auto;
    margin-top: 20px;
    align-items: center;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid transparent;

    width: 200px;
    height: 50px;
    cursor: pointer;
        &:focus,
        &:hover{
        background-color: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
        @include mobile {
        
        }
        @include tablet {
        margin-top: 20px;
        // margin-left: 281px;
        }
        @include desktop {
            display:inline;
        margin-left: 12px;}
}
.foot-btn .text{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
}

.foot-btn .icon-foot{
    
    padding-left: 7px;
    justify-content: center;
    position: absolute;
        @include tablet {
        right: 33%;
        bottom: 7%;
        }
        @include desktop {
            top:58%;
            right: 25px;
        
    }
}

